openapi: 3.1.0
info:
  title: Drew's Pantry API
  version: 1.2.0
  license:
    name: Private personal use
    identifier: LicenseRef-Proprietary
  description: >-
    Private live inventory, recipe, meal-history, nutrition, planning, and grocery
    operations for Drew's Pantry. Read current state before preparing mutations.
servers:
  - url: https://us-east4-pantry-tracker-4bc45.cloudfunctions.net/pantryApi
security:
  - bearerAuth: []
paths:
  /v1/inventory:
    get:
      operationId: getPantryInventory
      summary: Read current pantry stock
      description: >-
        Returns compact stock items with names, total base quantities, and
        positive lots. Use food lookup for conversions and nutrition, and use
        the other focused read endpoints for non-inventory context.
      responses:
        '200':
          description: Current pantry snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnyObject'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: reconcilePantryInventory
      summary: Replace complete lots for selected foods
      description: >-
        Consequential correction operation. Each named food's existing lots are
        deleted and replaced by the submitted lots. Empty lots means zero stock.
        deleteFoodIds also deletes food definitions and must be used sparingly.
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryReconciliation'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/InvalidRequest'
  /v1/history:
    get:
      operationId: getMealHistory
      summary: Read recent meal history and repetition trends
      parameters:
        - in: query
          name: days
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 365
            default: 30
          description: Number of calendar days to include.
      responses:
        '200':
          description: Meal events and planning summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnyObject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/InvalidRequest'
  /v1/plans:
    get:
      operationId: getMealPlanAndGroceries
      summary: Read the current meal plan and grocery list
      responses:
        '200':
          description: Current plan and grocery list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnyObject'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: replaceWeeklyMealPlan
      summary: Replace one seven-day meal plan and rebuild planned groceries
      description: >-
        Replaces only the week beginning at weekStart. Manual grocery items are
        preserved. Read inventory, history, and the current plan first.
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WeeklyPlan'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/InvalidRequest'
  /v1/grocery-items:
    post:
      operationId: addManualGroceryItem
      summary: Add one durable manual grocery-list item
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [name]
              properties:
                name:
                  type: string
                quantityLabel:
                  type: string
                emoji:
                  type: string
      responses:
        '201':
          $ref: '#/components/responses/Success'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/InvalidRequest'
  /v1/foods:
    get:
      operationId: findPantryFoods
      summary: Find pantry food definitions
      description: Returns matching definitions and their units, conversions, and nutrition.
      parameters:
        - in: query
          name: q
          required: false
          schema: {type: string}
          description: Case-insensitive ID, name, or alias search. Omit to return all definitions.
      responses:
        '200': {$ref: '#/components/responses/Success'}
        '401': {$ref: '#/components/responses/Unauthorized'}
    post:
      operationId: saveFoodDefinition
      summary: Create or update a pantry food definition
      description: >-
        Use before adding a truly new grocery or recipe ingredient. Existing IDs
        are updated in place. Do not guess package conversions or nutrition.
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FoodDefinition'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/InvalidRequest'
  /v1/foods/{id}:
    get:
      operationId: getPantryFood
      summary: Read one pantry food definition
      parameters:
        - in: path
          name: id
          required: true
          schema: {type: string}
      responses:
        '200': {$ref: '#/components/responses/Success'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
  /v1/groceries:
    post:
      operationId: addGroceryHaul
      summary: Add one or more grocery lots to inventory
      description: Unknown foods or unsupported units reject the entire request.
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroceryHaul'
      responses:
        '201':
          $ref: '#/components/responses/Success'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/InvalidRequest'
  /v1/products:
    post:
      operationId: saveProductDefinition
      summary: Create or update a purchasable product
      description: >-
        Maps a branded product, receipt name, or barcode to an existing
        canonical food. Product package conversions are expressed in that
        food's base unit.
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductDefinition'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/InvalidRequest'
  /v1/recipes:
    get:
      operationId: findRecipes
      summary: Find saved recipes
      parameters:
        - in: query
          name: q
          required: false
          schema: {type: string}
          description: Case-insensitive ID or name search. Omit to return all recipes.
      responses:
        '200': {$ref: '#/components/responses/Success'}
        '401': {$ref: '#/components/responses/Unauthorized'}
    post:
      operationId: saveRecipe
      summary: Create or update a recipe
      description: >-
        Ingredient foods and units must already exist. Preserve a source URL and
        paraphrase source instructions.
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Recipe'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/InvalidRequest'
  /v1/recipes/{id}:
    get:
      operationId: getRecipe
      summary: Read one saved recipe
      parameters:
        - in: path
          name: id
          required: true
          schema: {type: string}
      responses:
        '200': {$ref: '#/components/responses/Success'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '404': {$ref: '#/components/responses/NotFound'}
  /v1/migrations/canonical-products:
    post:
      operationId: migrateCanonicalProducts
      summary: Dry-run or apply a canonical food and product migration
      description: >-
        Defaults to dry-run. Applying rewrites inventory, recipe, prepared-food,
        history, and grocery references in one validated Firestore batch.
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CanonicalProductMigration'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/InvalidRequest'
  /v1/external-foods:
    get:
      operationId: searchOutsideFoods
      summary: Search reusable restaurant and packaged outside foods
      description: >-
        Use before saving or logging an identifiable outside food. Returns only
        reusable outside-food definitions, avoiding the much larger full pantry
        response. With no parameters, returns every saved outside food.
      parameters:
        - in: query
          name: q
          required: false
          schema:
            type: string
          description: Partial match against ID, name, brand, or serving label.
        - in: query
          name: brand
          required: false
          schema:
            type: string
          description: Exact brand match, ignoring case and punctuation.
      responses:
        '200':
          description: Matching reusable outside foods
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnyObject'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: saveOutsideFood
      summary: Save or update a reusable restaurant or packaged outside food
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OutsideFood'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/InvalidRequest'
  /v1/meals:
    post:
      operationId: logMealWithoutInventoryDeduction
      summary: Log an outside meal or snack without changing inventory
      description: >-
        Log exactly one consumed item per call. Normally use an externalFoodId
        and servings 1 for a saved outside food. Use label and nutrition totals
        only for a genuinely unidentifiable or explicitly combined one-off meal.
        Repeated units should be separate calls unless the user requests grouping.
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MealLog'
      responses:
        '201':
          $ref: '#/components/responses/Success'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/InvalidRequest'
  /v1/consume/recipe:
    post:
      operationId: consumeSavedRecipe
      summary: Deduct a saved recipe and log its nutrition
      description: >-
        Atomically deducts ingredients from earliest-expiring lots. Fails without
        changes when the recipe is unknown or inventory is insufficient.
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [recipeId, servings]
              properties:
                recipeId:
                  type: string
                servings:
                  type: number
                  minimum: 0.000001
                label:
                  type: string
                note:
                  type: string
                timestamp:
                  type: string
                  format: date-time
      responses:
        '201':
          $ref: '#/components/responses/Success'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/InvalidRequest'
  /v1/prepare/recipe:
    post:
      operationId: prepareSavedRecipe
      summary: Make a recipe and add its prepared servings
      description: Deducts raw ingredients once and creates a prepared batch to consume later.
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [recipeId, servings]
              properties:
                recipeId: {type: string}
                servings: {type: number, minimum: 0.000001}
                location: {type: string, enum: [fridge, freezer]}
                bestBy: {type: string, format: date-time}
                note: {type: string}
      responses:
        '201': {$ref: '#/components/responses/Success'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '422': {$ref: '#/components/responses/InvalidRequest'}
  /v1/prepared-batches:
    get:
      operationId: getPreparedFoods
      summary: Read prepared foods with servings remaining
      responses:
        '200': {$ref: '#/components/responses/Success'}
        '401': {$ref: '#/components/responses/Unauthorized'}
    post:
      operationId: addPreparedFood
      summary: Add a manual or ready-made leftover
      description: Adds servings without deducting raw inventory. An externalFoodId copies saved nutrition.
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [name, servings]
              properties:
                name: {type: string}
                servings: {type: number, minimum: 0.000001}
                emoji: {type: string}
                externalFoodId: {type: string}
                location: {type: string, enum: [fridge, freezer, pantry]}
                madeAt: {type: string, format: date-time}
                bestBy: {type: string, format: date-time}
                note: {type: string}
                nutrition:
                  type: object
                  additionalProperties: false
                  properties:
                    calories: {type: number, minimum: 0}
                    proteinG: {type: number, minimum: 0}
                    carbsG: {type: number, minimum: 0}
                    fatG: {type: number, minimum: 0}
                    fiberG: {type: number, minimum: 0}
                    sugarG: {type: number, minimum: 0}
                    sodiumMg: {type: number, minimum: 0}
      responses:
        '201': {$ref: '#/components/responses/Success'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '422': {$ref: '#/components/responses/InvalidRequest'}
  /v1/consume/prepared:
    post:
      operationId: consumePreparedFood
      summary: Eat servings from a prepared batch
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [batchId, servings]
              properties:
                batchId: {type: string}
                servings: {type: number, minimum: 0.000001}
                label: {type: string}
                note: {type: string}
                timestamp: {type: string, format: date-time}
      responses:
        '201': {$ref: '#/components/responses/Success'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '422': {$ref: '#/components/responses/InvalidRequest'}
  /v1/consume/meal-template:
    post:
      operationId: consumeCombinedMeal
      summary: Eat a combined meal from its prepared component batches
      description: Atomically consumes the required prepared servings from every component and creates one nutrition log entry.
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [mealId, servings]
              properties:
                mealId: {type: string}
                servings: {type: number, minimum: 0.000001}
                label: {type: string}
                note: {type: string}
                timestamp: {type: string, format: date-time}
      responses:
        '201': {$ref: '#/components/responses/Success'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '422': {$ref: '#/components/responses/InvalidRequest'}
  /v1/meal-templates:
    post:
      operationId: saveCombinedMeal
      summary: Save a meal made from multiple component recipes
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [name, servings, components]
              properties:
                id: {type: string}
                name: {type: string}
                emoji: {type: string}
                servings: {type: number, minimum: 0.000001}
                notes: {type: string}
                components:
                  type: array
                  minItems: 2
                  items:
                    type: object
                    additionalProperties: false
                    required: [recipeId, servings]
                    properties:
                      recipeId: {type: string}
                      servings: {type: number, minimum: 0.000001}
      responses:
        '201': {$ref: '#/components/responses/Success'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '422': {$ref: '#/components/responses/InvalidRequest'}
  /v1/consume/inventory:
    post:
      operationId: consumePantryItem
      summary: Deduct a quantity of one pantry food and log its nutrition
      description: Use either foodId or food name, and a unit supported by that food.
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [amount, unit]
              properties:
                foodId:
                  type: string
                food:
                  type: string
                amount:
                  type: number
                  minimum: 0.000001
                unit:
                  type: string
                label:
                  type: string
                note:
                  type: string
                timestamp:
                  type: string
                  format: date-time
      responses:
        '201':
          $ref: '#/components/responses/Success'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/InvalidRequest'
  /v1/targets:
    get:
      operationId: getNutritionTargets
      summary: Read daily nutrition targets
      responses:
        '200': {$ref: '#/components/responses/Success'}
        '401': {$ref: '#/components/responses/Unauthorized'}
    post:
      operationId: saveNutritionTargets
      summary: Replace daily nutrition targets
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [calories, proteinG, carbsG, fatG, fiberG, sodiumMg]
              properties:
                calories:
                  type: number
                  minimum: 0.000001
                proteinG:
                  type: number
                  minimum: 0.000001
                carbsG:
                  type: number
                  minimum: 0.000001
                fatG:
                  type: number
                  minimum: 0.000001
                fiberG:
                  type: number
                  minimum: 0.000001
                sodiumMg:
                  type: number
                  minimum: 0.000001
                label:
                  type: string
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/InvalidRequest'
  /v1/preferences:
    get:
      operationId: getFoodPreferences
      summary: Read the private food preference and allergy profile
      responses:
        '200': {$ref: '#/components/responses/Success'}
        '401': {$ref: '#/components/responses/Unauthorized'}
    post:
      operationId: saveFoodPreferences
      summary: Replace the private food preference and allergy profile
      description: >-
        Stores allergies, dislikes, favorites, dietary rules, and free-form
        planning notes. Allergies are hard safety constraints.
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FoodPreferences'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/InvalidRequest'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  responses:
    Success:
      description: Operation completed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AnyObject'
    Unauthorized:
      description: Bearer token is missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InvalidRequest:
      description: Validation failed and no partial write was applied
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource does not exist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    AnyObject:
      type: object
      properties:
        status:
          type: string
          description: Optional operation status for write responses.
        id:
          type: string
          description: Optional identifier created or updated by a write.
        exportedAt:
          type: string
          format: date-time
          description: Optional snapshot generation time for read responses.
      additionalProperties: true
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
    FoodNutrition:
      type: object
      additionalProperties: false
      required: [basisBaseAmount, calories, proteinG, carbsG, fatG, fiberG, sugarG, sodiumMg]
      properties:
        basisBaseAmount:
          type: number
          minimum: 0.000001
        calories: { type: number, minimum: 0 }
        proteinG: { type: number, minimum: 0 }
        carbsG: { type: number, minimum: 0 }
        fatG: { type: number, minimum: 0 }
        fiberG: { type: number, minimum: 0 }
        sugarG: { type: number, minimum: 0 }
        sodiumMg: { type: number, minimum: 0 }
        source:
          type: string
        estimated:
          type: boolean
    RecipeNutrition:
      type: object
      additionalProperties: false
      required: [calories, proteinG, carbsG, fatG, fiberG, sugarG, sodiumMg]
      description: Totals for the entire prepared recipe yield.
      properties:
        calories: { type: number, minimum: 0 }
        proteinG: { type: number, minimum: 0 }
        carbsG: { type: number, minimum: 0 }
        fatG: { type: number, minimum: 0 }
        fiberG: { type: number, minimum: 0 }
        sugarG: { type: number, minimum: 0 }
        sodiumMg: { type: number, minimum: 0 }
    FoodPreferences:
      type: object
      additionalProperties: false
      properties:
        allergies:
          type: array
          items:
            type: string
        dislikes:
          type: array
          items:
            type: string
        favorites:
          type: array
          items:
            type: string
        dietaryRules:
          type: array
          items:
            type: string
        planningNotes:
          type: string
    UnitConversion:
      type: object
      additionalProperties: false
      required: [unit, symbol, baseAmount]
      properties:
        unit:
          type: string
        symbol:
          type: string
        baseAmount:
          type: number
          minimum: 0.000001
    FoodDefinition:
      type: object
      additionalProperties: false
      required: [name, quantityMode, baseUnit, defaultLocation, conversions]
      properties:
        id:
          type: string
        name:
          type: string
        emoji:
          type: string
        quantityMode:
          type: string
          enum: [counted, measured]
        baseUnit:
          type: string
        displayUnit:
          type: string
        defaultLocation:
          type: string
          enum: [pantry, fridge, freezer]
        conversions:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/UnitConversion'
        nutrition:
          $ref: '#/components/schemas/FoodNutrition'
        aliases:
          type: array
          items:
            type: string
    ProductDefinition:
      type: object
      additionalProperties: false
      required: [foodId, name]
      properties:
        id:
          type: string
        foodId:
          type: string
        name:
          type: string
        brand:
          type: string
        aliases:
          type: array
          items:
            type: string
        barcode:
          type: string
        conversions:
          type: array
          items:
            $ref: '#/components/schemas/UnitConversion'
        nutrition:
          $ref: '#/components/schemas/FoodNutrition'
    CanonicalProductMapping:
      type: object
      additionalProperties: false
      required: [sourceFoodId, product]
      properties:
        sourceFoodId:
          type: string
        targetFoodId:
          type: string
        canonicalName:
          type: string
        canonicalDisplayUnit:
          type: string
        canonicalAliases:
          type: array
          items:
            type: string
        canonicalConversions:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/UnitConversion'
        product:
          $ref: '#/components/schemas/MigrationProductDefinition'
    MigrationProductDefinition:
      type: object
      additionalProperties: false
      required: [name]
      properties:
        id:
          type: string
        name:
          type: string
        brand:
          type: string
        aliases:
          type: array
          items:
            type: string
        barcode:
          type: string
        conversions:
          type: array
          items:
            $ref: '#/components/schemas/UnitConversion'
    CanonicalProductMigration:
      type: object
      additionalProperties: false
      required: [mappings]
      properties:
        dryRun:
          type: boolean
          default: true
        mappings:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/CanonicalProductMapping'
    GroceryLotInput:
      type: object
      additionalProperties: false
      required: [amount, unit]
      properties:
        foodId:
          type: string
        food:
          type: string
        productId:
          type: string
        product:
          type: string
        barcode:
          type: string
        amount:
          type: number
          minimum: 0.000001
        unit:
          type: string
        location:
          type: string
          enum: [pantry, fridge, freezer]
        bestBy:
          type: string
          format: date
        estimated:
          type: boolean
        note:
          type: string
    GroceryHaul:
      type: object
      additionalProperties: false
      required: [items]
      properties:
        source:
          type: string
        items:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/GroceryLotInput'
    InventoryReplacement:
      type: object
      additionalProperties: false
      required: [foodId, lots]
      properties:
        foodId:
          type: string
        lots:
          type: array
          items:
            $ref: '#/components/schemas/GroceryLotInput'
    InventoryReconciliation:
      type: object
      additionalProperties: false
      required: [replacements]
      properties:
        source:
          type: string
        replacements:
          type: array
          items:
            $ref: '#/components/schemas/InventoryReplacement'
        displayUnits:
          type: object
          properties: {}
          additionalProperties:
            type: string
        deleteFoodIds:
          type: array
          items:
            type: string
    RecipeIngredient:
      type: object
      additionalProperties: false
      required: [amount, unit]
      properties:
        foodId:
          type: string
        food:
          type: string
        amount:
          type: number
          minimum: 0.000001
        unit:
          type: string
        optional:
          type: boolean
    RecipePortion:
      type: object
      additionalProperties: false
      required: [name, servings]
      properties:
        name:
          type: string
        servings:
          type: number
          minimum: 0.000001
    Recipe:
      type: object
      additionalProperties: false
      required: [name, servings, ingredients]
      properties:
        id:
          type: string
        name:
          type: string
        emoji:
          type: string
        servings:
          type: number
          minimum: 0.000001
        sourceUrl:
          type: string
          format: uri
        sourceNote:
          type: string
        promptForFeedback:
          type: boolean
          default: true
          description: Ask for taste, ease, and actual time after making this recipe.
        nutritionOverride:
          $ref: '#/components/schemas/RecipeNutrition'
        ingredients:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/RecipeIngredient'
        instructions:
          type: array
          items:
            type: string
        portions:
          type: array
          items:
            $ref: '#/components/schemas/RecipePortion'
    MealPlanEntry:
      type: object
      additionalProperties: false
      required: [date, slot, source, servings]
      properties:
        id:
          type: string
        date:
          type: string
          format: date
        slot:
          type: string
          enum: [breakfast, lunch, dinner, snack]
        source:
          type: string
          enum: [recipe, meal, external, custom]
        sourceId:
          type: string
        groupId:
          type: string
          description: Groups independent recipe entries into one planned meal.
        leftoverOfGroupId:
          type: string
          description: References the groupId of an earlier planned meal that will supply these leftovers.
        intent:
          type: string
          enum: [prepare, leftover]
          default: prepare
          description: Leftovers retain recipe identity without adding grocery demand. Pair with leftoverOfGroupId when referencing an earlier entry in the plan.
        name:
          type: string
        emoji:
          type: string
        servings:
          type: number
          minimum: 0.000001
        note:
          type: string
    WeeklyPlan:
      type: object
      additionalProperties: false
      required: [weekStart, entries]
      properties:
        weekStart:
          type: string
          format: date
        entries:
          type: array
          items:
            $ref: '#/components/schemas/MealPlanEntry'
    OutsideFood:
      type: object
      additionalProperties: false
      required: [name, servingLabel, calories, proteinG, carbsG, fatG, fiberG, sugarG, sodiumMg]
      properties:
        id:
          type: string
        name:
          type: string
        brand:
          type: string
        emoji:
          type: string
        servingLabel:
          type: string
        calories: { type: number, minimum: 0 }
        proteinG: { type: number, minimum: 0 }
        carbsG: { type: number, minimum: 0 }
        fatG: { type: number, minimum: 0 }
        fiberG: { type: number, minimum: 0 }
        sugarG: { type: number, minimum: 0 }
        sodiumMg: { type: number, minimum: 0 }
        source:
          type: string
        estimated:
          type: boolean
    MealLog:
      type: object
      additionalProperties: false
      properties:
        externalFoodId:
          type: string
        servings:
          type: number
          minimum: 0.000001
        label:
          type: string
        calories: { type: number, minimum: 0 }
        proteinG: { type: number, minimum: 0 }
        carbsG: { type: number, minimum: 0 }
        fatG: { type: number, minimum: 0 }
        fiberG: { type: number, minimum: 0 }
        sugarG: { type: number, minimum: 0 }
        sodiumMg: { type: number, minimum: 0 }
        note:
          type: string
        estimated:
          type: boolean
        timestamp:
          type: string
          format: date-time
